<body>

    <!-- Facebook Javascript SDK-->

    <script>
        window.fbAsyncInit = function () {

            FB.init({
                appId: '290716314893480',
                cookie: true,
                xfbml: true,
                version: 'v3.2'
            });

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
                facebookAPI();

            });

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!--Begin HTML Body-->

    <div class="col">
        <nav class="navbar navbar-expand-lg navbar">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Welcome
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Home</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="cart">Shopping List</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="profile">My Profile</a>
                        </div>
                    </li>
                </ul>
            </div>
                <span class="navbar-nav mr-auto" id="logIn">
                    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with"
                        data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false">
                        </div>
                    
                </span>
        </nav>

    </div>

    <div class="container">

                <div class="jumbotron col-md-12">
                   
      
    </div>
                </div>
                        
                    <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome!</h1>
                    <p class="lead">PlatePlanner is a web app that allows you to search for any recipe you
                        want, then keep track of the ingredients to decide whether you need to add them to your
                        shopping list or not!
                        Ingredients will be added to your personal shopping list <a href="/cart">here</a>, and
                        save your recipes for later use <a href="/profile">here</a>!
                    </p>


                            <!--Searchbar and Recipe Display-->
                            <hr>
                            <h4>Search for recipes... </h4>

                        <div class="col-md-8" id="searchbar">
                            <form class="form-inline">
                                <label class="sr-only" for="inlineFormInputName2">..</label>
                                <input type="text" class="form-control mb-6 mr-md-2 col-md-8" id="inlineFormInputName2"
                                    placeholder="Chicken Parmesan...">
                                <button type="submit" id="search" class="btn btn-primary mb-2">Search</button>
                            </form>
                            <div class="accordion" id="accordionExample"></div>
                        </div>
                    </div>
              </div>
            </div>

        <br>
        <br>

         <!--Carousel -->
      <div class="container">
        <div class="container-fluid exclude">

        <hr>
        <h2 class="text-center mb-3">Featured Recipes</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner row w-100 mx-auto">

            </div>

            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    </div>

            
<!--Footer-->
      <div class="card footer">
        <div class="card-body">
          <footer> &copy; Team Spicy
            <br>
            <a href="/term.html">Terms & Conditions</a> | <a href="privacy.html">Privacy
              Policy</a>
          </footer>
        </div>

</body>
