<body>

  <!-- Facebook Javascript SDK-->

  <script>
    window.fbAsyncInit = function () {

      FB.init({
        appId: '290716314893480',
        cookie: true,
        xfbml: true,
        version: 'v3.2'
      });

      FB.getLoginStatus(function (response) {
        statusChangeCallback(response);
        facebookAPI();

      });

    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <!--Begin HTML Body-->
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Welcome
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="cart">Shopping List</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="profile">My Profile</a>


            </div>
          </li>
        </ul>
      </div>
      <span class="navbar-nav mr-auto" id="logIn">
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false"
          data-auto-logout-link="true" data-use-continue-as="false"></div>

  </div>
  </span>
  </nav>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron col-lg-12">
          <p> </p>


          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Welcome!</h1>
                <p class="lead">PlatePlanner is a web app that allows you to search for any recipe you
                  want, then keep track of the ingredients to decide whether you need to add them to
                  your
                  shopping list or not!
                  Ingredients will be added to your personal shopping list <a href="/cart">here</a>,
                  and
                  save your recipes for later use <a href="/profile">here</a>!
                </p>


                <!--Searchbar and Recipe Display-->
                <hr>
                <h4>Search for recipes... </h4>


                <div class="row">
                  <div class="col-md-8" id="searchbar">
                    <form class="form-inline">
                      <label class="sr-only" for="inlineFormInputName2">..</label>
                      <input type="text" class="form-control mb-6 mr-md-2 col-md-8" id="inlineFormInputName2"
                        placeholder="Chicken Parmesan...">
                      <button type="submit" id="search" class="btn btn-primary mb-2">Search</button>
                    </form>
                  </div>
                </div>

                <div class="accordion" id="accordionExample">

                  {{!-- <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          Collapsible Group Item #1
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Rostas_%28ready_and_served%29.JPG/1200px-Rostas_%28ready_and_served%29.JPG"
                        class="rounded mx-auto d-block" alt="..." style="height: 10rem; width: 10rem">
                      <div class="card-body">
                        <a target='_blank' data-source='" + results.recipes[i].source_url + "' href='" + results.recipes[i].source_url + "'
                          class='card-link mx-auto'>Recipe
                          Link</a>
                        <h6>Ingredients:</h6>
                        <ul>
                          <li>food</li>
                          <li>food</li>
                          <li>food</li>
                        </ul>
                        <button type='button' data-rid='" + results.recipes[i].recipe_id + "' data-title='" + results.recipes[i].title + "'
                          class='btn btn-primary btn-sm mx-auto mt-2 favSave-btn' data-source='results.recipes[i].source_url'
                          style='display: block'>Save
                          to Favorites</button>
                      </div>
                    </div>

                  </div> --}}

                </div>



              </div>
            </div>
          </div>
        </div>



      </div>
      <br>
      <br>
      <!--Carousel -->
      <div class="container">
        <div class="container-fluid exclude">

          <h2 class="text-center mb-3">Featured Recipes</h2>
          <div id="Carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto search-res">
              <div class="carousel-item col-md-4 active">
                <div class="card">
                  <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card 1</h4>
                    <p class="card-text">Text</p>

                  </div>
                </div>
              </div>
              <div class="carousel-item col-md-4">
                <div class="card">
                  <img class="card-img-top img-fluid" src="http://placehold.it/800x600/418cf4/fff" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card 2</h4>
                    <p class="card-text">Text</p>

                  </div>
                </div>
              </div>
              <div class="carousel-item col-md-4">
                <div class="card">
                  <img class="card-img-top img-fluid" src="http://placehold.it/800x600/3ed846/fff" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card 3</h4>
                    <p class="card-text">Text</p>

                  </div>
                </div>
              </div>
              <div class="carousel-item col-md-4">
                <div class="card">
                  <img class="card-img-top img-fluid" src="http://placehold.it/800x600/42ebf4/fff" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card 4</h4>
                    <p class="card-text">Text</p>

                  </div>
                </div>
              </div>
              <div class="carousel-item col-md-4">
                <div class="card">
                  <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f49b41/fff" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card 5</h4>
                    <p class="card-text">Text</p>

                  </div>
                </div>
              </div>
              <div class="carousel-item col-md-4">
                <div class="card">
                  <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f4f141/fff" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card 6</h4>
                    <p class="card-text">Text</p>
                  </div>
                </div>
              </div>

            </div>
            <a class="carousel-control-prev" href="#Carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="false"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <div class="card footer">
        <div class="card-body">
          <footer> &copy; Team Spicy
            <br>
            <a href="/terms.html">Terms & Conditions</a> | <a href="privacy.html">Privacy
              Policy</a>
          </footer>
        </div>
      </div>
</body>