<!--Beginning of HTML Body-->

<div class="col">
    <nav class="navbar navbar-expand-lg navbar">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Welcome
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">Home</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="cart">Cart</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="profile">My Profile</a>


                    </div>
                </li>
            </ul>
        </div>
        <span class="navbar-nav mr-auto" id="logIn">
            <a class="nav-link" href="#" id="test">Log In</a><a class="nav-link" href="#">Sign Up</a>

        </span>
    </nav>

</div>


<div class="container">
    <h1>Profile Page</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4>Your Profile Info</h4>

                    <a href="https://placeholder.com"><img src="https://via.placeholder.com/200x200" class="pPic" id="profilePhoto"></a>
                    <p id="profileName">Name</p>
                    <p id="profileEmail">Email</p>
                    <p id="pText">Profile Text Blurb</p>




                </div>
            </div>
        </div>
        

        <!--Saved Recipes-->

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h4>Saved Recipes</h4>
                    <ul>

                        {{!-- this pulls from the database and puts the info into the recipe-block.handlebars file --}}
                        {{#each RecipeTable}}
                        {{>recipe-block}}
                        {{/each}}
                    </ul>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.

                    <div class="container-fluid">
                        <hr>
                        <h2 class="text-center mb-3">Featured Recipes</h2>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="card">
                                    <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h6 class="card-title">Card 1</h6>
                                        <p class="card-text">Title</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="http://placehold.it/800x600/418cf4/fff"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h6 class="card-title">Card 2</h6>
                                        <p class="card-text">Title</p>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
   