body {
    background: palegreen;
    color: darkolivegreen;
    align-content: center;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    text-align: center;
    align-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 85px;
    
}

#carousel {
    padding: 0 0 0 160px;
    margin: 0 0 0 0;
}