body {
    background: white;
    color: darkolivegreen;
    align-content: center;
    text-align: center;
    background-image: url('../images/retina_wood.png');
}

a {
    color: #663300;
}
a:hover {
    color: darkslategray;
}

a .dropdown-menu {
    color: #663300;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    text-align: center;
    align-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 85px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    
}

.container-fluid {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#carousel {
    padding: 0 0 0 160px;
    margin: 0 0 0 0;
}

.pPic {
    padding: 0 0 0 0;
    margin: 0 0 0 -12px;
}

#searchbar {
    align-content: center;
    padding: 0 0 0 0;
    margin: 0 0 10px 240px;
}

#profileDetails {
    clear: both;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

}

.footer {
    margin: 25px 0 0 0;
    padding: 0 0 0 0;
    background-image: url('../images/retina_wood.png');
    
}

.jumbotron { 
    background-image: url(../images/blacklogo.png), url(../images/transsquare.png), url(../images/tart.jpg);
    padding: 17rem 0 0 0;
    margin: 0 0 0 0;
    background-size: 22%, 13%, 100%;
    background-repeat: no-repeat, repeat-x, no-repeat;
    background-position-x: 85%, 0;
    background-position-y: 70%, 70%, 30%;
} 


h4, h2, h1 {
    font-family: 'Euphoria Script', cursive;
}

ul {
    list-style-type: none;
}

.proInfo, .saveRecipe, .shoList {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    
}
.exclude {
    background-color: transparent;
}

.dropdown-menu {
    background-color: #99cc99;
}

/* Carousel */
@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
  
  